@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: Backso;
  src: url(/fonts/Backso.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SuperLobster;
  src: url(/fonts/SuperLobster.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KGPerfectPenmanship;
  src: url(/fonts/KGPerfectPenmanship.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: TT;
  src: url(/fonts/TT.ttf);
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease forwards;
}

@keyframes triangle {
  0% {
    border-radius: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  25% {
    border-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  }
  50% {
    border-radius: 0px;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0 0);
  }
  75% {
    border-radius: 20px;
    clip-path: polygon(0 30%, 0 0, 30% 0,80% 80%);
  }
}

.animate-triangle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 0px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: triangle 12s ease forwards infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 225px;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes blink {
  50% {
    border-right: 4px solid white;
  }
  100% {
    border-right: 4px solid transparent;
  }
}

@keyframes warning{
  0%{
    opacity: 0;
    visibility: visible;
    content: '!Time out';
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  100%{
    opacity: 1;
    visibility: visible;
    content: '!Time out';
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
}

.animate-typing{
  position: relative;
}

.animate-typing::after {
  position: absolute;
  left: -112px;
  top: -50px;
  content: 'git push↲';
  font-family: 'Courier New', monospace;
  font-size: 2.6rem;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  width: 0;
  animation: typing 1.5s steps(9) .5s forwards, blink 0.75s step-end 10,disappear 0.15s 8s forwards,warning 0.5s 9s forwards ;
}

@keyframes tasklist {
  0% {
    background-position: 0% 0%; 
  }
  50% {
    background-position: 100% 100%; 
  }
  100% {
    background-position: 0% 0%; 
  }
}

.animate-tasklist {
  background: -webkit-linear-gradient(
    45deg,
    #9effd8,
    #2098cc 25%, 
    #9effd8 50%,
    #2098cc
  );
  background-clip: text;
  background-size:400% 400%;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 12rem;
  font-weight: bolder;
  animation: tasklist 4s linear infinite;
}

.wave1 {
    position: absolute;
    left: -400px;
    bottom: 0;
    z-index: 8;
    width: 3000px;
    height: 80px;
    background-color: #00657F;
    clip-path: path('M66 30.24C31 9.24 0 30.24 0 30.24V110.24H1500H3000V30.24C3000 30.24 2974.5 64.74 2870.5 30.24C2809.87 10.128 2793.59 2.08023 2780.26 5.50246C2770.72 7.9507 2762.69 16.2691 2741 30.24C2689 63.74 2671 62.24 2603.5 30.24C2567.23 13.0474 2549.44 21.2567 2533.07 28.8133C2518.96 35.3215 2505.91 41.3455 2483 30.24C2457.58 17.917 2451.68 23.7851 2445.85 29.5697C2440.34 35.051 2434.89 40.4574 2413 30.24C2368 9.24006 2265 -25.76 2169.5 30.24C2099.77 71.1284 2078.29 56.3059 2058.15 42.4093C2050.71 37.2733 2043.44 32.2639 2034 30.24C2025.32 28.3792 2017.62 24.3638 2009.52 20.1412C1984.99 7.34484 1956.8 -7.35452 1886.5 30.24C1806.52 73.0099 1789.83 61.9994 1758.51 41.3345C1753.22 37.8412 1747.51 34.072 1741 30.24C1697.51 4.6317 1691.38 7.97224 1654.47 28.0792C1653.19 28.7793 1651.86 29.4997 1650.5 30.24C1610 52.24 1601 51.24 1566 30.24C1531 9.24 1500 30.24 1500 30.24C1500 30.24 1474.5 64.74 1370.5 30.24C1309.87 10.128 1293.59 2.08023 1280.26 5.50246C1270.72 7.9507 1262.69 16.2691 1241 30.24C1189 63.74 1171 62.24 1103.5 30.24C1067.23 13.0474 1049.44 21.2567 1033.07 28.8133C1018.96 35.3215 1005.91 41.3455 983 30.24C957.584 17.917 951.677 23.7851 945.854 29.5697C940.336 35.051 934.895 40.4574 913 30.24C868 9.24006 765 -25.76 669.5 30.24C599.771 71.1284 578.289 56.3059 558.149 42.4093C550.705 37.2733 543.445 32.2639 534 30.24C525.316 28.3792 517.617 24.3638 509.521 20.1412C484.986 7.34484 456.802 -7.35452 386.5 30.24C306.52 73.0099 289.833 61.9994 258.514 41.3345C253.22 37.8412 247.507 34.072 241 30.24C197.514 4.6317 191.382 7.97224 154.47 28.0792C153.185 28.7793 151.863 29.4997 150.5 30.24C110 52.24 101 51.24 66 30.24Z');
  }

.wave2 {
    position: absolute;
    left: -400px;
    bottom: 20px;
    z-index: 7;
    width: 3500px;
    height: 80px;
    background-color: #358B9E;
    clip-path: path('M66 29.2513C3 1.0026 0 29.2513 0 29.2513V109.251H1500H3000V29.2513C3000 29.2513 2942 69.2513 2870.5 29.2513C2835.54 9.69113 2818.63 22.652 2803.22 34.4571C2787.13 46.7931 2772.68 57.8671 2741 29.2513C2690.7 -16.1766 2659.16 0.582704 2626.63 17.8718C2619.06 21.8953 2611.43 25.9475 2603.5 29.2513C2576.26 40.6015 2553.46 37.2286 2527.96 33.4564C2514.15 31.4125 2499.54 29.2513 2483 29.2513C2473.39 29.2513 2468.32 34.3146 2463.51 39.1032C2454.65 47.941 2446.73 55.8431 2413 29.2513C2388.76 10.1424 2358.23 18.1322 2321.34 27.7836C2279.09 38.8402 2228.5 52.0775 2169.5 29.2513C2059 -13.5 2034 29.2513 2034 29.2513C2034 29.2513 1996 57.0026 1886.5 29.2513C1828.43 14.5332 1812.26 23.0913 1798.63 30.3112C1786.55 36.7045 1776.46 42.0485 1741 29.2513C1700.85 14.7623 1694.07 21.9732 1687.88 28.5582C1682.42 34.3572 1677.43 39.6708 1650.5 29.2513C1620.79 17.7535 1616.04 21.0088 1609.7 25.3572C1603.77 29.4241 1596.45 34.4471 1566 29.2513C1503 18.5 1500 29.2513 1500 29.2513C1500 29.2513 1442 69.2513 1370.5 29.2513C1335.54 9.69113 1318.63 22.652 1303.22 34.4571C1287.13 46.7931 1272.68 57.8671 1241 29.2513C1190.7 -16.1766 1159.16 0.582704 1126.63 17.8718C1119.06 21.8953 1111.43 25.9475 1103.5 29.2513C1076.26 40.6015 1053.46 37.2286 1027.96 33.4564C1014.15 31.4125 999.537 29.2513 983 29.2513C973.393 29.2513 968.316 34.3146 963.513 39.1032C954.651 47.941 946.726 55.8431 913 29.2513C888.764 10.1424 858.229 18.1322 821.344 27.7836C779.088 38.8402 728.499 52.0775 669.5 29.2513C559 -13.5 534 29.2513 534 29.2513C534 29.2513 496 57.0026 386.5 29.2513C328.426 14.5332 312.262 23.0913 298.626 30.3112C286.551 36.7045 276.458 42.0485 241 29.2513C200.854 14.7623 194.072 21.9732 187.878 28.5582C182.423 34.3572 177.425 39.6708 150.5 29.2513C122.707 18.4961 116.759 24.7378 110.917 30.8681C104.672 37.4206 98.5487 43.8459 66 29.2513Z');
}

.wave3 {
    position: absolute;
    left: -400px;
    bottom: 40px;
    z-index: 6;
    width: 3000px;
    height: 80px;
    background-color: #379FBB;
    clip-path: path('M66 26.9941C6.5 52.7454 0 26.9941 0 26.9941V106.994H1500H3000V26.9941C3000 26.9941 2942 66.9941 2870.5 26.9941C2799 -13.0059 2783.5 -4.75453 2741 26.9941C2698.5 58.7428 2636.5 41.7428 2603.5 26.9941C2570.5 12.2455 2529 14.7428 2483 26.9941C2458.41 33.543 2451.39 38.5914 2444.16 38.9317C2437.86 39.228 2431.39 35.9547 2413 26.9941C2393.79 17.6324 2319.5 -15.7572 2300 15.1186C2287.18 35.4185 2246.35 31.4387 2212.3 28.1188C2194.55 26.3893 2178.65 24.8388 2169.5 26.9941C2147.92 32.0771 2135.9 27.7322 2123 23.0706C2104.82 16.4991 2084.9 9.29815 2034 26.9941C1983.1 44.6921 1955.64 36.2894 1933.21 29.4239C1917.31 24.5553 1903.93 20.4597 1886.5 26.9941C1844.5 42.7428 1782 47.2454 1741 26.9941C1720.37 16.8055 1703.92 23.3871 1689.48 29.1639C1675.22 34.8693 1662.92 39.7896 1650.5 26.9941C1640.75 16.952 1634.8 10.826 1627.65 8.61601C1616.45 5.15889 1602.3 11.2849 1566 26.9941C1506.5 52.7454 1500 26.9941 1500 26.9941C1500 26.9941 1442 66.9941 1370.5 26.9941C1299 -13.0059 1283.5 -4.75453 1241 26.9941C1198.5 58.7428 1136.5 41.7428 1103.5 26.9941C1070.5 12.2455 1029 14.7428 983 26.9941C958.411 33.543 951.395 38.5914 944.157 38.9317C937.855 39.228 931.385 35.9547 913 26.9941C893.792 17.6324 819.5 -15.7572 800 15.1186C787.179 35.4185 746.353 31.4387 712.297 28.1188C694.555 26.3893 678.65 24.8388 669.5 26.9941C647.921 32.0771 635.899 27.7322 623.002 23.0706C604.82 16.4991 584.896 9.29815 534 26.9941C483.098 44.6921 455.645 36.2894 433.214 29.4239C417.307 24.5553 403.927 20.4597 386.5 26.9941C344.5 42.7428 282 47.2454 241 26.9941C220.372 16.8055 203.921 23.3871 189.482 29.1639C175.221 34.8693 162.922 39.7896 150.5 26.9941C140.751 16.952 134.804 10.826 127.647 8.61601C116.452 5.15889 102.297 11.2849 66 26.9941Z');  
}

.wave4 {
    position: absolute;
    left: -400px;
    bottom: 50px;
    z-index: 5;
    width: 3000px;
    height: 80px;
    background-color: #5CCFE0;
    clip-path: path('M66 18.3501C38 30.2257 0 18.3501 0 18.3501V98.3501H1500H3000V18.3501C3000 18.3501 2903.5 6.47453 2870.5 18.3501C2857.01 23.2042 2840.01 18.7857 2821.73 14.032C2795.28 7.15593 2766.13 -0.42134 2741 18.3501C2698.5 50.0987 2636.5 33.0987 2603.5 18.3501C2588.1 11.4693 2571.4 14.9622 2553.04 18.8026C2532.04 23.1939 2508.87 28.0394 2483 18.3501C2459.55 9.56908 2454.22 6.50282 2449.26 7.01991C2443.96 7.5724 2439.09 12.2157 2413 18.3501C2364.98 29.6428 2356.29 26.545 2307.83 9.26381C2305.33 8.37181 2302.72 7.44203 2300 6.4745C2264.09 -6.28111 2235.08 2.44383 2209.33 10.1908C2195.28 14.4159 2182.2 18.3501 2169.5 18.3501C2158.38 18.3501 2144.43 15.6607 2129.47 12.7752C2096.03 6.32292 2057.49 -1.11021 2034 18.3501C2015.23 33.8967 1987.02 29.8683 1958.44 25.7882C1935.25 22.477 1911.82 19.1317 1893 26.1868C1851 41.9356 1782 38.6014 1741 18.3501C1718.53 7.25319 1703.72 11.8833 1689.33 16.383C1677.46 20.0951 1665.87 23.7183 1650.5 18.3501C1616.5 6.4745 1594 6.4745 1566 18.3501C1538 30.2257 1500 18.3501 1500 18.3501C1500 18.3501 1403.5 6.47453 1370.5 18.3501C1357.01 23.2042 1340.01 18.7857 1321.73 14.032C1295.28 7.15593 1266.13 -0.42134 1241 18.3501C1198.5 50.0987 1136.5 33.0987 1103.5 18.3501C1088.1 11.4693 1071.4 14.9622 1053.04 18.8026C1032.04 23.1939 1008.87 28.0394 983 18.3501C959.553 9.56908 954.219 6.50282 949.259 7.01991C943.959 7.5724 939.086 12.2157 913 18.3501C864.979 29.6428 856.292 26.545 807.833 9.26381C805.331 8.37181 802.724 7.44203 800 6.4745C764.087 -6.28111 735.082 2.44383 709.329 10.1908C695.283 14.4159 682.205 18.3501 669.5 18.3501C658.375 18.3501 644.434 15.6607 629.475 12.7752C596.027 6.32292 557.493 -1.11021 534 18.3501C515.231 33.8967 487.016 29.8683 458.439 25.7882C435.246 22.477 411.815 19.1317 393 26.1868C351 41.9356 282 38.6014 241 18.3501C218.534 7.25319 203.724 11.8833 189.332 16.383C177.458 20.0951 165.869 23.7183 150.5 18.3501Z');
}

.ship {
    position: absolute;
    left: 200px;
    bottom: 45px;
    z-index: 6;
    width: 80px;
    height: 58px;
}

@keyframes rollship {
    0% {
        transform:  rotate(0deg);
    }
    25% {
         transform:  rotate(15deg);
    }
    50% {
         transform:  rotate(0deg);
    }
    75% {
        transform:  rotate(-15deg);
    }
    100% {
        transform:  rotate(0deg);
    }
}

.rollship {
    width: 80px;
    height: 58px;
    background-image: url(/svg/ship.svg);
    background-repeat: no-repeat;
    transform-origin: center center;
    animation: rollship 5s linear infinite;
}

.lighter {
    position: absolute;
    right: -140px;
    bottom: -30px;
    z-index: 4;
    width: 600px;
    height: 400px;
    background-image: url(/svg/lighter.svg);
    background-repeat: no-repeat;
    scale:0.5;
}
